@mixin flex-on(
               $display: flex,
               $direction: null,
               $wrap: null,
               $justify: null,
               $align-items: null,
               $align-content: null) {
// Nustatom objekta kaip konteineri ir uzduodam
// isdestymo parametra: flex | inline-flex
  @if $display == flex {
    // 2009
    display: -webkit-box;

    // 2012
    display: -webkit-flex;
    display: -ms-flexbox; // 2011 (IE 10)
    display: flex;
  } @else if $display == inline-flex {
    display: -webkit-inline-box;
    display: inline-box;

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  } @else {
    display: $display;
  }

// Nustatom flex-direction
// 2009 - box-orient ( horizontal | vertical | inline-axis | block-axis)
//      - box-direction (normal | reverse)
// 2011 - flex-direction (row | row-reverse | column | column-reverse)
// 2012 - flex-direction (row | row-reverse | column | column-reverse)
  $direction-2009: $direction;
  $box-direction: null;

  @if $direction == row {
    $direction-2009: horizontal;
    $box-direction: normal;
  } @else if $direction == row-reverse {
    $direction-2009: horizontal;
    $box-direction: reverse;
  } @else if $direction == column {
    $direction-2009: vertical;
    $box-direction: normal;
  } @else if $direction == column-reverse {
    $direction-2009: vertical;
    $box-direction: reverse;
  }

  -webkit-box-orient: $direction-2009;
  -webkit-box-direction: $box-direction;

  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;

// Nustatom flex-wrap
// 2009 - box-lines (single | multiple)
// 2011 - flex-wrap (nowrap | wrap | wrap-reverse)
// 2012 - flex-wrap (nowrap | wrap | wrap-reverse)
  $alt-value: $wrap;

  @if $wrap == nowrap {
    $alt-value: single;
  } @else if $wrap == wrap {
    $alt-value: multiple;
  } @else if $wrap == wrap-reverse {
    $alt-value: multiple;
  }

  -webkit-box-lines: $alt-value;
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;

// Nustatom justify-content
// 2009 - box-pack (start | end | center | justify)
// 2011 - flex-pack (start | end | center | justify)
// 2012 - justify-content (flex-start | flex-end | center | space-between | space-around)
  $alt-value: $justify;

  @if $justify == flex-start {
    $alt-value: start;
  } @else if $justify == flex-end {
    $alt-value: end;
  } @else if $justify == space-between {
    $alt-value: justify;
  } @else if $justify == space-around {
    $alt-value: distribute;
  }

  -webkit-box-pack: $alt-value;
  -webkit-justify-content: $justify;
  -ms-flex-pack: $alt-value;
  justify-content: $justify;

// Nustatom align-items
// 2009 - box-align (start | end | center | baseline | stretch)
// 2011 - flex-align (start | end | center | baseline | stretch)
// 2012 - align-items (flex-start | flex-end | center | baseline | stretch)
  $alt-value: $align-items;

  @if $align-items == flex-start {
    $alt-value: start;
  } @else if $align-items == flex-end {
    $alt-value: end;
  }

  -webkit-box-align: $alt-value;
  -webkit-align-items: $align-items;
  -ms-flex-align: $alt-value;
  align-items: $align-items;

// Nustatom align-content
// 2011 - flex-line-pack (start | end | center | justify | distribute | stretch)
// 2012 - align-content (flex-start | flex-end | center | space-between | space-around | stretch)
  $value-2011: $align-content;

  @if $align-content == "flex-start" {
    $value-2011: start;
  } @else if $align-content == "flex-end" {
    $value-2011: end;
  } @else if $align-content == "space-between" {
    $value-2011: justify;
  } @else if $align-content == "space-around" {
    $value-2011: distribute;
  }

  -webkit-align-content: $align-content;
  -ms-flex-line-pack: $value-2011;
  align-content: $align-content;
}


// 2009 - box-flex (integer)
// 2011 - flex (decimal | width decimal)
// 2012 - flex (integer integer width)
@mixin flex($value: null) {

  // Grab flex-grow for older browsers.
  $flex-grow: nth($value, 1);

  -webkit-box-flex: $flex-grow;
  -webkit-flex: $value;
  -ms-flex: $value;
  flex: $value;
}

// 2009 - box-ordinal-group (integer)
// 2011 - flex-order (integer)
// 2012 - order (integer)
@mixin order($int: 0) {

  -webkit-box-ordinal-group: $int;
  -webkit-order: $int;
  -ms-flex-order: $int;
  order: $int;
}