// This extension implements all necessary syntaxes for today's use:
// by one writing we get all syntaxes for successful work of flex-box.
// It ensures that flex box would work with both new and old browsers,
// e.g., android 4.1, android 4.3, iOS Safari, Safari, IE 10.
// Import vr_flex and you`re ready to go!

@import "vr_flex";

//****************//
// vr_flex mixins //
//****************//

// Establish flexbox layout with default all values
@include flex-on;

//Optional arguments
@include flex-on($display, $direction, $wrap, $justify, $align-items, $align-content);

    // $display         -   Establish flexbox layout
    // $direction       -   Set the flex-direction
    // $wrap            -   Allow the items to wrap as needed with this property
    // $justify         -   Defines the alignment along the main axis
    // $align-items     -   Align flex items
    // $align-content   -   This aligns a flex container's lines within when there is extra space in the cross-axis

// Variable defaults

    // $display: flex
    // $direction: row
    // $wrap: nowrap
    // $justify: flex-start
    // $align-items: stretch
    // $align-content: stretch


// Set the flex value for flex items
@include flex($flex); 

// Variable default
    // $flex: 0 1 auto;   

// Change the order of flex items
@include order($order);

//*********//
// Example //
//*********//

.main-div {
    @include flex-on(flex, row, nowrap, space-between, center, center );
    .child-div {
        @include flex(1 1 auto);
        @include order(2);
    }
}

//***************//
// Other example //
//**************//
.main-div {
    @include flex-on($display: inline-flex, $justify: space-between, $align-content: center );
}